# Ignore local class materials
class_materials/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment files
.env
# Jupyter checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# Virtual environment
bootcamp_env/
